{
    "flask": {
        "SECRET_KEY": ""
    },
    "api": {
        "url": "http://127.0.0.1:3000"
    },
    "database": {
        "dialect": "postgresql+psycopg2",
        "username": "postgres",
        "password": "",
        "host": "localhost",
        "port": "5432",
        "database_name": "get_price"
    },
    "s3": {
        "host": "localhost",
        "port": "9000",
        "bucket": "get-price",
        "access_key": "",
        "secret_key": "",
        "secure": "0"
    }
}