$first: rgb(110 187 53 / 54%);
$second: black;
$thrid: white;
$fourht: #D6EEEE;

$button-color: $first;
$tab-header-color: $first;
$footer-color: $first;

$border-color: $second;

$main-color: $thrid;
$chart-color: $thrid;

$table-color: $fourht;
$table-row-color: #f3f3f3;



