$image-size: 300px;
$description-font-size: 18px;
$review-font-size: 15px;

$footer-padding: 100px;

.info {
    $height: 36px;

    display: block;
    height: $height;

    div {
        display: inline-block;
        text-align: left;
        left: 0;

        .name {
            display: inline-block;
            font-size: $main-font-size;
            
            overflow: auto;
            text-overflow: ellipsis;

            max-width: 50vw;
            height: $height;
        }

        img {
            display: inline-block;
            width: $height;
            padding-left: 5px;
        }
    }

    div {
        .price {
            display: inline-block;
            font-size: $main-font-size;
            padding-left: 10px;
        }
    }
}

#url{
    display: block;
    margin-top: 10px
}
.product-image {
    @include border;
    
    width: $image-size;
    height: $image-size;
}

#shops {
    display: inline-block;
    height: $image-size;
    text-align: left;
    width: 65%;
    padding-top: 10px;

    .shop {
        display: block;
        cursor: pointer;
        height: 30px;
        

        .name {
            float: left;
        }

        .price {
            
            float: right;

            div {
                font-family: Apple-mono;
                font-weight: 100;
                display: inline-block;
                padding-left: 10px;
            }
        }
    }
}

#changePrice {
    margin-top: 10px;
    text-align:center;
    width: 100%;

    div {
        @include border;

        display: inline-block;
        padding: 5px;
        width: 200px;
    }

    .active-button {
        background-color: $button-color;
    }
}


.chart {
    #rub-chart {
        z-index: 1;
        position: absolute;
        background-color: $chart-color;
    }

    #dol-chart {
        background-color: $chart-color;
    }
}

#product-description {
    margin-bottom: 20px;
    text-align: left;
    font-size: $description-font-size;
}


/* Reviews */
.reviews {
    padding-bottom: $footer-padding;
    .review {
        text-align: left;
        margin-bottom: 5px;

        img {
            width: 25px;
            vertical-align: text-top;
            padding-left: 10px;
        }

        .description {
            font-size: $review-font-size;
        }
        
    }
}

.make-review {
    padding-bottom: $footer-padding;

    #new-review {
        $percent: 100%;
        $height: 75px;

        width: $percent;
        max-width: $percent;
        min-width: $percent;

        height: $height;
        max-height: $height;
        min-height: $height;
    }

    #send {
        @include border;
        width: 100px;
        margin-top: 5px;
    }
}


