/* reload */
/* sass -w sass/styles.scss css/styles.css */

$frame-width: 1180px;
$menu-height: 45px;
$border-radius: 10px;


$content-padding: 15px;

@mixin frame-settings {
    max-width: $frame-width;
    min-height: 98vh;
}

@mixin border {
    border: 2px solid $border-color;
    border-radius: $border-radius;
} 

@import 'colors';
@import 'fonts';

@import 'index';
@import 'slider';
@import 'product';
@import 'add_product';
@import 'about';
@import 'login';




* {
    font-family: Apple;
    font-weight: 600;
    font-size: $font-size;

    padding: 0;
    margin: 0;
}

a, a:visited{
    text-decoration: none;
    color:black;
}


.left {
    float: left;
}

.right {
    float: right;
}

body {
    margin-bottom: 10px;
}

.center {
    @include frame-settings;
    @include border;

    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0px $content-padding;
}


.menu {
    position: fixed;
    display: flex;
    margin-left: -$content-padding;
    cursor: pointer;

    height: $menu-height;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $frame-width+$content-padding*2;

    border-radius: $border-radius;

    z-index: 999;

    .item {
        display: inline-block;
        padding: 10px;
    }

    .item-right {
        margin-left: auto;
        order: 2;
    }
}


footer {
    display: block;
    position:absolute;
    width: 100%;
    margin-left: -$content-padding;
    bottom: 0px;

    padding: 10px 0px;
    background-color: $footer-color;
    border-radius: $border-radius;
}

