{% extends "base.html"%}
{% load static %}

{% block content %}
    <div class="info">
    </div>

    <table>
      <tr>
        <td class="left-width">
          <div class="inline-container">
            <img id="img" class="product-image" src="{% static 'img/no-photo.jpg' %}"/>
            <label id="upload-label" class="button" for="upload">Загрузить изображение</label>
            <input id="upload" type="file" style="visibility:hidden;"/></div>
        </div>
        </td>

        <td>
          <div>
            <div>Название товара:</div>
            <input id="name" type="text" value="Simple ground"/>
            <div>Описание товара:</div>
            <textarea id="description" rows="9">Dтдвыа ывжаьываы влдыв адыва </textarea>
          </div>
        </td>
      </tr>
    </table>

   

    <table>
      {% for i in shops %}
      <tr>
        <td>{{ i.name }}</td>
        <td class="url">
          <input id="{{ i.id }}" alt="{{ i.name }}" type="text"/>
        </td>
      </tr>
      {% endfor %}
    </table>

    <div id="test" class="button">Проверить данные</div>

    <table id="shops-table" class="report">
      <!-- {% for i in "rtyegs" %}
      <tr>
        <td>Citilink</td>
        <td class="name">
          Электрочайник Hi EK-17C23
        </td>
        <td class="price">
          100 ₽
        </td>
        <td class="price">
          100 $
        </td>
      </tr>
      {% endfor %} -->
    </table>

    <div id="save" class="button disabled-button">Сохранить изменения</div>

    {% csrf_token %} 
  

{% endblock content %}        


{% block footer %}
  <script type="module" src="{% static 'js/modules/load_json.js' %}"></script>
  <script type="module" src="{% static 'js/modules/parseCookies.js' %}"></script>
  <script type="module" src="{% static 'js/modules/currencyConverter.js' %}"></script>

  <script type="module" src="{% static 'js/add_product.js' %}"></script> 
{% endblock footer %}


