{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="slider">
        <div class="slideshow-container">
            {% for i in "123"%}
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
            <div class="numbertext">{{ i }} / 3</div>
            <img src="/img/slide_{{ i }}.jpg" style="width:100%">
            <!-- <div class="text">Caption Text</div> -->
            </div>
            {% endfor %} 
        </div>
        <br>
        
    </div>
    

    <select id="sort">
        <option value="nameASC">от А до Я</option>
        <option value="nameDESC">от Я до А</option>
        <option value="priceASC">по возрастанию цены</option>
        <option value="priceDESC">по убыванию цены</option>
    </select>

    <div id="products">
                
    </div>
    
{% endblock content %}


{% block footer %}
    <script type="text/javascript" src="{% static 'js/modules/slider.js' %}"></script>
    <script type="module" src="{% static 'js/modules/currencyConverter.js' %}"></script>
    <script type="module" src="{% static 'js/modules/load_json.js' %}"></script>

    <script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock footer %}