{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="slider">
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <img src="{% static 'img/slide_1.jpg' %}" style="width:100%">
            <!-- <div class="text">Caption Text</div> -->
            </div>
        
            <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <img src="{% static 'img/slide_2.jpg' %}" style="width:100%">
            <!-- <div class="text">Caption Two</div> -->
            </div>
        
            <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img src="{% static 'img/slide_3.jpg' %}" style="width:100%">
            <!-- <div class="text">Caption Three</div> -->
            </div>
        
        </div>
        <br>
        
    </div>
    

    <select id="sort">
        <option value="nameASC">от А до Я</option>
        <option value="nameDESC">от Я до А</option>
        <option value="priceASC">по возрастанию цены</option>
        <option value="priceDESC">по убыванию цены</option>
    </select>

    <div id="products">
        <!--window.open('./product.html','Product');-->
        <!-- {% for n in 'test_str_for_loop' %}
        <div class="product" onclick="location.href='/product'"> 
            <img class="image" src="{% static 'img/product.jpg' %}"/>
            <div class="name">Электрочайник Hi EK-17C23</div>
            <div class="price">
                <div class="price-rub left">3000 ₽</div>
                <div class="price-dol right">35.0 $</div>
            </div>
        </div>
        {% endfor %} -->
        
    </div>
    
{% endblock content %}


{% block footer %}
    <script type="text/javascript" src="{% static 'js/modules/slider.js' %}"></script>
    <script type="module" src="{% static 'js/modules/currencyConverter.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock footer %}