{% extends "base.html" %}

{% block js %}
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/modules/slider.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/modules/currencyConverter.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/modules/load_json.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/modules/sorts.js') }}"></script>

    <script defer type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock js %}

{% block content %}
    <div id="slider">
        <div class="slideshow-container">
            {% for i in range(3)%}
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
            <div class="numbertext">{{ i+1 }} / 3</div>
            <img src="/img/slide_{{ i+1 }}.jpg" style="width:100%">
            <!-- <div class="text">Caption Text</div> -->
            </div>
            {% endfor %} 
        </div>
        <br>
        
    </div>
    

    <select id="sort">
        <option value="nameASC">от А до Я</option>
        <option value="nameDESC">от Я до А</option>
        <option value="priceASC">по возрастанию цены</option>
        <option value="priceDESC">по убыванию цены</option>
    </select>

    <div id="products">
                
    </div>
    
{% endblock content %}