$main-font-size: 30px;
$font-size: 20px;

@font-face {
    font-family: Apple;
    src: url(/fonts/SFProDisplay-Ultralight.woff);
}

@font-face {
    font-family: Apple-mono;
    src: url(/fonts/sf-mono-regular.otf);
}