$image-size: 180px;
$name-font-size: 15px;
$name-height: 36px;

#slider {
    margin-top: $menu-height;
}

#products {
    margin-top: 10px;
    margin-bottom: 60px;
}

.product {
    @include border;

    display: inline-block;
    cursor: pointer;

    width: 200px;
    margin: 5px;

    .image {
        height: $image-size;
        width: auto;
        max-width: $image-size;
    }

    .name {
        font-size: $name-font-size;
        width: $image-size;
        overflow: hidden;
        text-overflow: ellipsis;
        height: $name-height;
    }

    .price > div {
        padding: 0px 10px;
    }
}




