$image-size: 180px;
$name-font-size: 15px;

#slider {
    margin-top: $menu-height;
}

#products {
    margin-top: 10px;
    margin-bottom: 60px;
}

.product {
    @include border;

    display: inline-block;
    cursor: pointer;

    .image {
        width: $image-size;
        height: $image-size;
    }

    .name {
        font-size: $name-font-size;
    }

    .price > div {
        padding: 0px 10px;
    }
}




